@import "tailwindcss";

:root {
  --color-blue: #142c96;
  --color-lila: #cc5de8;
  --color-gray: #dbdddd;
  --color-orange: #f9490d;
  background-color: var(--color-gray);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
  scroll-padding-bottom: 20px;
}

body {
  scroll-behavior: smooth;
  font-weight: 300;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
}

.semibold {
  font-weight: 500;
}

.text-lustria {
  font-family: 'Lustria', serif !important;
}

.hover\:text-lustria:hover {
  font-family: 'Lustria', serif !important;
}

.text-blue {
  color: var(--color-blue) !important;
}

.text-lila {
  color: var(--color-lila) !important;
}

.text-gray {
  color: var(--color-gray) !important;
}

.text-orange {
  color: var(--color-orange) !important;
}

.bg-blue {
  background-color: var(--color-blue) !important
}

.bg-lila {
  background-color: var(--color-lila) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}